/********** MEDIA QUERY PHONES **********/

 /* HEADER */

 header {
   height: 120px;
   width: 100%;
   flex-wrap: wrap;
   flex-direction: row-reverse;
}
.nav_logo {
    order: 2;
    width: 50%;
    margin: 0;
    height: 75px;
}
.nav_logo img {
     object-fit: cover;
     margin-left: -5px;
}
.nav_links {
    order: 3;
    width: 100%;
    margin-top: 15px;
}
.nav_links ul {
     padding: 0 0 10px 0; 
     width: 100%;
     margin: 0; 
}
.nav_links li {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(225, 225, 225);
    width: 50%;
    text-align: center;
}
.nav_links a {
     font-size: 0.9rem;
     padding: 0px;
}
.nav_links a:hover {
     border-top: none;
}
.nav_links li:hover  {
    color: rgb(41, 100, 242); 
    border-bottom: 2px solid rgb(41, 100, 242); 
}
.register {
     order: 1;
     margin-right: 10px;
}
.logo {
    margin: 25px 0 0 20px;
}

/* OVERTURE SECTION */

#overture {
    margin-top: 25px;
    padding: 0 20px;
    box-sizing: border-box;
}
.main_title h1 {
    font-size: 1.2rem;
}
.main_title span {
    font-size: 0.8rem;;
}
form {
    display: flex;
}
.search {
    margin: 0px;
    width: 100%;
}
.search i {
    padding: 11px 12px 13px 12px;
    border-radius: 12px 0 0 12px;
}
.search input {
    width: 80%;
    height: 40px;
}
.searching {
    display: none;
}
.searchingglass {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left: -15px;
    background-color: rgb(41, 104, 242);
    border-radius: 15px;
    border: none;
}
.searchingglass i {
    padding: 0;
    font-size: 0.9rem;
    color: white;
    background-color: rgb(41, 104, 242);
}
.filters_list {
    font-size: 0.9rem;
}
.filter_title {
    width: 100%;
    margin: 0px;
}
.filters_list {
    flex-wrap: wrap;
}
.filter {
    margin-right: 6px;
    padding-right: 1px;
}
/* Information */

.info_dispo {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    display: flex;
}
.info_dispo span {
    display: inline-block;
    margin: 0;
    font-size: 0.8rem;
}
.info_dispo i {
    border-radius: 15px;
    margin-right: 5px;
    font-size: 0.7rem;
}
.container {
    display: flex;
    flex-direction: column-reverse;
}
/* POPULAR SECTION */ 
 
#popular {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 0;
}
.popular_title {
    display: flex;
    margin: 30px 0;
    padding: 0 30px;
    font-size: 0.8rem;
}
.popular_title h2 {
    margin: 0px;
}
.popular_title i {
    font-size: 1.2rem;
}
.popular_part {
    box-sizing: border-box;
    padding: 0 20px;
}
.popular_card {
    width: 97%;
    height: 130px;
    margin: 0 0 10px 0;
    padding: 4px 0 4px 4px;
}
.popular_card img {
    object-fit: cover;
    width: 40%;
    height: 130px;
}
.popular_description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
}
.popular_description div {
   height: 80px;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.popular_description span {
    display: inline-block;
    width: 100%;
    margin: 0;
}
/* HOSTING SECTION */
 
#hosting {
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
}
.hosting_title {
    font-size: 1.2rem;
    margin: 0 0 20px 0;
}
.hosting_partone, .hosting_parttwo {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
}
.hosting_card {
    width: 96%;
    margin: 0 0 15px 0;
}
.more {
    font-size: 1rem;
    margin: 20px 0 0 2px;
    width: 90%;
}
/* ACTIVITY SECTION */
 
#activity {
    width: 100%;
    margin-top: 30px;
    padding: 0 20px;
    box-sizing: border-box;
}
.activity_title {
    width: 100%;
    margin: 0 0 30px 5px;
    font-size: 1.2rem;
}
.activ_part {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bigcolumn {
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
}
.bigcolumn img {
    object-fit: cover;
    height: 140px
}
.column {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}
.column_card {
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
}
.column_card img {
    object-fit: cover;
    height: 140px;
}
.column_fort, .column_frioul {
    width: 100%;
    height: 190px;
}
.column_fort img {
    object-fit: cover;
    height: 140px;
}
.column_frioul img {
    object-fit: cover;
    height: 140px;
}

/* FOOTER SECTION */

#footer {
    margin-top: 0px;
}
.footer_container {
    padding: 30px 20px 0 20px;
    display: flex;
    flex-direction: column;
}
.end_part {
    width: 100%;
}
.end_part h3 {
    font-size: 1rem;
}
.end_part li {
    font-size: 0.9rem;
}

 